*, *::before, *::after 
    box-sizing: border-box
    transition: all ease-in-out 500ms 

body
    color: $text-primary
    text-align: center

img
    max-width: 100%
    height: auto

.container
    width: 90%
    max-width: 75rem
    margin: 0 auto

.unstyled-list
    margin: 0
    padding: 0
    list-style: none

.lg-screen
    display: none

    @media (min-width: 45rem)
        display: block

.bg-primary
    background: $primary
    color: $text-inverse
    padding: 4em 2.5em